/* -*- mode: c++; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*- */

/*
 Copyright (C) 2004 Ferdinando Ametrano
 Copyright (C) 2000, 2001, 2002, 2003 RiskMap srl

 This file is part of QuantLib, a free-software/open-source library
 for financial quantitative analysts and developers - http://quantlib.org/

 QuantLib is free software: you can redistribute it and/or modify it
 under the terms of the QuantLib license.  You should have received a
 copy of the license along with this program; if not, please email
 <quantlib-dev@lists.sf.net>. The license is also available online at
 <http://quantlib.org/license.shtml>.

 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 FOR A PARTICULAR PURPOSE.  See the license for more details.
*/

#ifndef quantlib_config_h
#define quantlib_config_h

#cmakedefine PACKAGE_NAME "@PACKAGE_NAME@"
#cmakedefine PACKAGE_STRING "@PACKAGE_STRING@"
#cmakedefine PACKAGE_TARNAME "@PACKAGE_TARNAME@"
#cmakedefine PACKAGE_VERSION "@PACKAGE_VERSION@"
#cmakedefine PACKAGE_BUGREPORT "@PACKAGE_BUGREPORT@"

#cmakedefine QL_ENABLE_PARALLEL_UNIT_TEST_RUNNER
#cmakedefine QL_ENABLE_SESSIONS
#cmakedefine QL_ENABLE_THREAD_SAFE_OBSERVER_PATTERN
#cmakedefine QL_ENABLE_TRACING
#cmakedefine QL_ERROR_FUNCTIONS
#cmakedefine QL_ERROR_LINES
#cmakedefine QL_EXTRA_SAFETY_CHECKS
#cmakedefine QL_HIGH_RESOLUTION_DATE
#cmakedefine QL_THROW_IN_CYCLES
#cmakedefine QL_USE_INDEXED_COUPON
#cmakedefine QL_USE_STD_ANY
#cmakedefine QL_USE_STD_OPTIONAL
#cmakedefine QL_USE_STD_SHARED_PTR
#cmakedefine QL_USE_STD_FUNCTION
#cmakedefine QL_USE_STD_TUPLE
#cmakedefine QL_NULL_AS_FUNCTIONS

#endif
