---
Checks:          '-*,readability-*,bugprone-*,misc-*,performance-*,modernize-*,-readability-else-after-return,-readability-named-parameter,-readability-braces-around-statements,-readability-inconsistent-declaration-parameter-name,-readability-isolate-declaration,-readability-magic-numbers,-readability-convert-member-functions-to-static,-readability-function-cognitive-complexity,-bugprone-macro-parentheses,-bugprone-narrowing-conversions,-bugprone-branch-clone,-misc-non-private-member-variables-in-classes,-misc-unused-parameters,-misc-no-recursion,-modernize-avoid-c-arrays,-modernize-make-shared,-modernize-use-trailing-return-type,-modernize-use-using'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
  - key:   modernize-use-default-member-init.UseAssignment
    value: 1
  - key:   modernize-use-noexcept.ReplacementString
    value: QL_NOEXCEPT
  - key:   readability-identifier-length.MinimumParameterNameLength
    value: 1
  - key:   readability-identifier-length.MinimumVariableNameLength
    value: 1
  - key:   readability-identifier-length.MinimumLoopCounterNameLength
    value: 1
...
