---
Checks:          '-*,readability-*,bugprone-*,misc-*,-readability-else-after-return,-readability-named-parameter,-readability-braces-around-statements,-readability-inconsistent-declaration-parameter-name,-misc-macro-parentheses,-misc-incorrect-roundings'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle:     file
...
