body {
  font-family: georgia, verdana, arial, sans-serif;
  color: #000;
  background: #fff;
}

a:active { text-decoration: none }

table.layout {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  border-left: 0;
  border-right: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: georgia, verdana, arial, sans-serif;
}

td.main {
  font-family: georgia, verdana, arial, sans-serif;
  vertical-align: top;
}

td.navbar {
  width: 20%;
  font-family: verdana, arial, sans-serif;
  color: #000;
  background-color: #fea;
  border-width: 1px;
  border-color: #000;
  vertical-align: top;
  padding: 1em;
}

.navbartitle { text-align: center }

a.navlink { font-weight: normal }

.hide { display: none }

.addtopspace { margin-top: 2em }

.endmatter {
  font-family: times-new-roman, sans-serif;
  font-size: 60%;
  font-style: italic;
}

.button { border-style: none }

.center { text-align: center }

.right { text-align: right }

OL.navlinklist{
  line-height: 2.0;
  list-style-type: decimal;
}

pre {
	margin-left: 10%;
	color: green;
	background: white;
	font-family: monospace;
}
.rule { margin-top: 2em }
.recom { }
.rationale { FONT-SIZE: 0.75em }
