body {
  font-family: georgia, verdana, arial, sans-serif;
  color: #000;
  background: #fff;
}

a:active { text-decoration: none }

table.layout {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  border-left: 0;
  border-right: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: georgia, verdana, arial, sans-serif;
}

td.main {
  font-family: georgia, verdana, arial, sans-serif;
  vertical-align: top;
}

td.navbar {
  width: 20%;
  font-family: verdana, arial, sans-serif;
  color: #000;
  background-color: #ccccff;
  border-width: 1px;
  border-color: #000;
  vertical-align: top;
  padding: 1em;
}

.navbartitle { text-align: center }

a.navlink { font-weight: normal }

.hide { display: none }

.addtopspace { margin-top: 2em }

.endmatter {
  font-family: times-new-roman, sans-serif;
  font-size: 60%;
  font-style: italic;
}

.button { border-style: none }

.center { text-align: center }

.right { text-align: right }

OL.navlinklist{
  line-height: 2.0;
  list-style-type: decimal;
}

pre {
	margin-left: 10%;
	color: green;
	background: white;
	font-family: monospace;
}


.rule { margin-top: 2em }
.recom { }
.rationale { FONT-SIZE: 0.75em }

H1 { text-align: center; }
A.qindex {}
A.qindexRef {}
A.el { text-decoration: none; font-weight: bold }
A.elRef { font-weight: bold }
A.code {
    text-decoration: none;
    font-weight: normal;
    color: #4444ee;
    background-color: white}
A.codeRef { font-weight: normal; color: #4444ee;
    background-color: white }
DL.el { margin-left: -1cm }
DIV.ah {
    background-color: black;
    color: white;
    margin-bottom: 3em;
    margin-top: 3em
    }
DIV.fragment {
	margin-left: 10%;
	color: green;
	background: white;
	font-family: monospace;
}
TD.md {
    background-color: #f2f2ff;
    color: white;
}
DIV.groupHeader {
    margin-left: 16em;
	margin-top: 12em;
	margin-bottom: 6em;
	font-weight: bold
    }
DIV.groupText {
    margin-left: 16em;
    font-style: italic;
	font-size: smaller
    }
FONT.keyword {
    color: #008000;
    background-color: white
    }
FONT.keywordtype {
    color: #604020;
    background-color: white
    }
FONT.keywordflow {
    color: #e08000;
    background-color: white
    }
FONT.comment {
    color: #800000;
    background-color: white
    }
FONT.preprocessor {
    color: #806020;
    background-color: white
    }
FONT.stringliteral {
    color: #002080;
    background-color: white
    }
FONT.charliteral {
    color: #008080;
    background-color: white
    }
