name: Check CMake file list and VC++ projects
on: [push, pull_request]
permissions:
  contents: read

jobs:
  filelists:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup
      run: |
        sudo apt update
        sudo apt install -y libboost-all-dev
    - name: Configure
      run: |
        ./autogen.sh
        ./configure
    - name: Check
      run: |
        ./tools/check_filelists.sh
