name: Compile single headers
on: [push, pull_request]
jobs:
  headers:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup
      run: |
        sudo apt update
        sudo apt install -y libboost-dev
    - name: Check
      run: |
        ./tools/check_all_headers.sh
