name: Misspell fixer
on:
  - push
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: sobolevn/misspell-fixer-action@master
    - uses: peter-evans/create-pull-request@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: misspell-fixes-${{ github.ref }}
        commit-message: 'Fixes by misspell-fixer'
        title: 'Typos fixed by misspell-fixer'
        author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
