name: Misspell fixer
on:
  push:
    branches:
      - '**'
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: sobolevn/misspell-fixer-action@master
    - uses: peter-evans/create-pull-request@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: misspell-fixes-${{ github.ref_name }}
        delete-branch: true
        commit-message: 'Fixes by misspell-fixer'
        title: 'Typos fixed by misspell-fixer'
        author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
