name: Misspell fixer
on:
  push:
    branches-ignore:
      - 'dependabot/**'
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: sobolevn/misspell-fixer-action@master
    - uses: peter-evans/create-pull-request@v8
      with:
        token: ${{ secrets.MACHINE_ACCOUNT_PAT }}
        push-to-fork: ${{ vars.MACHINE_ACCOUNT }}/QuantLib
        branch: misspell-fixes-${{ github.ref_name }}
        delete-branch: true
        commit-message: 'Fixes by misspell-fixer'
        title: 'Typos fixed by misspell-fixer'
        author: lballabio[bot] <224797326+lballabio-bot@users.noreply.github.com>
