name: Prepare release candidate
on:
  workflow_dispatch:
  push:

jobs:
  update-for-rc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Latest version
      run: |
        gh release list --json name,isLatest --jq '.[] | select(.isLatest)|.name'
